body {
    background-color: #093365;
}

h1 {
    text-align: center;
    color: rgb(23, 191, 193)
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 30px 30px 30px;
}

#allign {
    text-align: center;
    width: 600px;
}

.colorCorrect {
    color: #46FE04;
    font-size: 30px;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}